<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

   
    <link rel="stylesheet" href="/assets/css/cartstyle.css">

    <title>Carts</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/profile">Myprofile</a>
              <a class="nav-link" href="/catproducts">Catitems</a>
              <a class="nav-link" href="/dogproducts">Dogitems</a>
              <a class="nav-link" href="/fishproducts">Fishitems</a>
              
            </div>
          </div>
        </div>
      </nav>
      </div>

    <!-- navbar closed -->
    
    <section class="h-100 h-custom">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
      
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">Your Cart</th>
                      
                      <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp; Quantity</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                 
                    <tr>
                      <th scope="row" class="border-bottom-0">
                        <div class="d-flex align-items-center">
                          <img src="/assets/img/p.png" class="img-fluid rounded-3"
                            style="width: 120px;" alt="Book">
                          <div class="flex-column ms-4">
                            <p class="mb-2">fghjkkl</p>
                            <p class="mb-0">Yuval Noah Harari</p>
                          </div>
                        </div>
                      </th>
                      
                      <td class="align-middle border-bottom-0">
                        <div class="d-flex flex-row">
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="bi bi-dash"></i>
                          </button>
      
                          <input id="form1" min="0" name="quantity" value="1" type="number"
                            class="form-control form-control-sm" style="width: 50px;" />
      
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="bi bi-plus"></i>
                          </button>
                        </div>
                      </td>
                      <td class="align-middle border-bottom-0">
                        <p class="mb-0" style="font-weight: 500;">$13.50</p>
                      </td>
                    </tr>
                
                  </tbody>
                </table>
              </div>
              <hr>
      <!-- ***********************************?? -->
           
                <div class="card-body p-4">
      
                  <div class="row">
                    
                
                    <div class="col-lg-4 col-xl-3">
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">$23.49</p>
                      </div>
      
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-0">Shipping</p>
                        <p class="mb-0">$2.99</p>
                      </div>
      
                      <hr class="my-4">
      
                      <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                        <p class="mb-2">Total (tax included)</p>
                        <p class="mb-2">$26.48</p>
                      </div>
      
                      <button type="button" class="btn btn-primary btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>Checkout</span>
                          <span>$26.48</span>
                        </div>
                      </button>
      
                    </div>
                  </div>
      
                </div>
             
      
            </div>
          </div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
